body {
  margin: 0;
  font-family: Open-Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 2.5em;
}

/*------- HEADER -------*/

nav {
  background-color: #f96723;
  height: 56px;
  padding-left: 10%;
}

nav img{
  float: left;
}

.breadcrumb{
  text-align: left;
}

/*------- TITLE -------*/

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: #f96723;
  margin-top: 10px;
}

h3{
  text-align: left;
  font-size: 26px;
  text-transform: uppercase;
}

h4{
  text-align: center;
  font-size: 26px;
  color: #f96723;
  margin-bottom: 30px;
}

h5 {
  font-size: 20px;
  text-align: right;
  padding-right: 25px;
  color: white;
}

.bold{
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.left {
  text-align: left;
}

.space {
  padding-right: 25px;
}

.italic {
  font-style: italic;
}

/*--------- LINES ------------*/
hr {
  border: 1px solid #f1f0f1;
}

/*------- ICONS ------------*/
.glyphicon:hover{
  cursor: pointer;
}

/*-------- BLOC Prestations Liste ----------*/
div.thumbnail{
  position:relative;
  height: 260px;
}
.reservationButton{
  position: absolute;
  bottom: 0;
  display: block;
  padding-left: 30%;
}
.reservationButton button{
  font-size: 16px;
}

/*------------- BLOC BASKET -------------*/
div.shop {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  background-color: #f96723;
  color: white;
  padding: 20px;
  width: 500px;
} 

div.shop input {
  background-color: #f96723;
  border: 0px;
  width: 50px;
}

div.shop > h1 {
  color: white;
  margin-bottom: 40px;
}

th.totalShop {
  font-size: 24px !important;
  text-align: right !important;
}

.quantityArticle {
  padding-left: 10px;
}

.titleArticle {
  padding-right: 10px;
}

div.shopHidden{
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  background-color: #f96723;
  color: white;
  font-size: 24px;
  padding: 10px;
}

div.shopHidden:hover{
  cursor: pointer;
}

/*-------------- Address reservation page -------------*/

div#locationField{
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

input#autocomplete {
  width: 100%;
}

form label {
  display: block;
  margin: 20px 0px 10px 20px;
  text-align: left !important;
}

div#googlePlace{
  margin-top: 20px;
}

/*------------ DATE PICKER CHANGE SIZE -----------*/
.react-datepicker-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.react-datepicker { font-size: 1em !important }
.react-datepicker__header { padding-top: 0.8em !important}
.react-datepicker__month { margin: 0.4em 1em !important}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em !important; 
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month { font-size: 1em !important }
.react-datepicker__navigation {
  top: 1em !important;
  line-height: 1.7em !important;
  border: 0.45em solid transparent !important;
}
.react-datepicker__navigation--previous { border-right-color: #ccc !important; left: 1em !important }
.react-datepicker__navigation--next { 
  border-left-color: #ccc !important; 
  right: 1em !important; 
  left: 220px !important 
}


.react-datepicker__time-container { width: 6em !important}
.react-datepicker-time__header { font-size: 1em !important }
.react-datepicker-time__header--time { padding-left: 0px !important; padding-right: 0px !important }
.react-datepicker__time-box { 
  margin-left: 0px !important; 
  margin-right: 0px !important; 
  width:100% !important
}
.react-datepicker__time-list { padding: 0 !important; }